{% extends 'base.html' %} <!--HERENCIA DE BASE-->
{% load static %}

{% block content %}


<!--CONTENIDO HTML VA ACA-->
<h1 style="color: black;">Introduzca busqueda</h1>
{% if form.errors %}
<p style="color: red;">Por favor revisa este campo</p>
{% endif %}

<form action="" method="POST" style="color: white;"> {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Enviar">
</form>

{% if busqueda %}

    {% for var in busqueda %}

        <ul>
            <li>
                <ul>
                    <li>
                        <p>Mensaje usuario: {{var.mensaje_usuario}}</p>
                    </li>
                    <li>
                        <p>Respuesta bot: {{var.respuesta_bot|striptags}}</p>
                    </li>
                    <li>
                        <form action="/convContext/{{var.conversation_id}}">
                            <button>Id de la conversacion: {{var.conversation_id}}</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    {% endfor %}

{% elif noHayResultados %}
    <p style="color: red;font-weight: bold;">{{noHayResultados}}</p>
{% endif %}

{% endblock %}