{% extends 'base.html' %} <!--HERENCIA DE BASE-->
{% load static %}

{% block content %}

<style>
    .usercontainer{
    float: right;
    border: 2px solid #73AD21;
    background-color: #73AD21;
    margin-right: 2%;   
    max-width:60%;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 10px 10px 1px 15px;
    }
    .botcontainer{
    float: left;
    border: 2px solid skyblue;
    background-color: skyblue;
    margin-left: 2%;
    max-width:60%;
    min-height: fit-content;
    max-height: fit-content;
    border-radius: 10px 10px 15px 1px;
    
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }



</style>

<!--CONTENIDO HTML VA ACA-->
<!--h3><a href="{% url 'busqueda' %}">Volver a busqueda</a></h3><br/-->
<h1 class="text-center text-capitalize bg-light p-3 mb-2">Revisar conversación</h1>

{% if busqueda %}
    {% for var in busqueda %}
        <ul class="mx-5">
            <div class="botcontainer p-2">
                <p>{{var.mensaje_usuario}}</p>
            </div>
            <br />
            <div class="usercontainer p-2">
                <p>{{var.respuesta_bot|striptags}}</p>
            </div>
            <br />
        </ul>
    {% endfor %}
{% elif error %}
    <p>No hubo resultados</p>
{% endif %}

  

{% endblock %}