{% extends 'base.html' %} <!--HERENCIA DE BASE-->
{% load static %}
{% block content %}

<!--CONTENIDO HTML VA ACA-->

<div class="container">
    <h4>
        Confianza promedio del bot:
    </h4>

    <h3>{{confianza}}%</h3>

    <label for="confidence">Observacion: La confianza del bot, se define como la seguridad que tiene el bot de que la respuesta del usuario sea igual a la pronosticada.</label>

</div>


<div class="container">
    <h4>
        Palabras mas repetidas:
    </h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Palabra</td>
                <td>Cantidad</td>
            {% for var in palabras %}
            </tr>
                <td>#</td>
                <td> {{var.palabra}} </td>
                <td> {{var.numero}} </td>
            {% endfor %}
            
        </thead>

    </table>
    <label for="confidence">Observacion: La cantidad es la veces que se encontro la palabra en la base de datos y su frecuencia es la probabilidad de aparición en una conversación.</label>

</div>

{% endblock %}