{% extends 'base.html' %} <!--HERENCIA DE BASE-->
{% load static %}
{% block content %}

<!--CONTENIDO HTML VA ACA-->

<div class="container">
    <h4>
        Confianza promedio del bot:
    </h4>

    <h3>{{confianza}}</h3>

    <label for="confidence">Observacion:La confianza del bot, se define como la seguridad que tiene el bot de que la respuesta del usuario sea igual a la pronosticada. Mientras más cercano a 1, mayor es la confianza</label>

</div>

<div class="container">
    <h4>
    Evaluacion del bot:
    </h4>
</div>

<div class="container">
    <h4>
        Palabras mas repetidas:
    </h4>
</div>

{% endblock %}