{% extends 'base.html' %} <!--HERENCIA DE BASE-->
{% load static %}
{% block content %}

<!--CONTENIDO HTML VA ACA-->

<style>
    .separator{
        border: 1px solid rgb(180, 180, 180);
        margin: 0% 10%
    }
    .containerEstadistico{
        margin: 1.5% 12.5%;
    }
</style>

<div class="containerEstadistico">
    <h4>Confianza promedio del bot:</h4>
    <h3>{{confianza}}%</h3>
    <label for="confidence">Observacion: La confianza del bot, se define como la seguridad que tiene el bot de que la respuesta del usuario sea igual a la pronosticada.</label>
</div>

<div class="separator"></div>

<div class="containerEstadistico">
    <h4>Hora de mayor trafico de consultas:</h4>
    <h3>{{hora}}:00</h3>
    <label for="hora">Observacion: Formato de 24 hrs.</label>
</div>

<div class="separator"></div>

<div class="containerEstadistico">
    <h4>Palabras mas repetidas:</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Palabra</td>
                <td>Cantidad</td>
            {% for var in palabras %}
            {% if var.numero >= promedio  %}
            </tr>
                <td>#</td>
                <td> {{var.palabra}} </td>
                <td> {{var.numero}} </td>
            {% endif %}
            {% endfor %}
        </thead>
    </table>
    <label for="confidence">Observacion: La cantidad es la veces que se encontro la palabra en la base de datos.</label>
</div>

{% endblock %}